# Gói .vsix chỉ cần: package.json, README, CHANGELOG, LICENSE, dist/, server/,
# syntaxes/, images/ và language-configuration.json.
.vscode/**
node_modules/**
src/**
scripts/**
package-lock.json
*.vsix
.gitignore
